[Unit]
Description=SSH Over Websocket Python YNTKTS
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python /home/admin/ws-dropbear.py
[Install]
WantedBy=multi-user.target
